  <main class="aboutUsMain">

    <section class="openHours">
      <h1 class="openHours__title">Öppettider:</h2>
      <ul class="openHours__list">
        <li class="openHours__times">Mån-Fre: <p class="openHours__times--yellow">9:00 - 20:00</p>
        </li>
        <li class="openHours__times">Lördag: <p class="openHours__times--yellow">10:00 - 23:00</p>
        </li>
        <li class="openHours__times">Söndag: <p class="openHours__times--yellow">STÄNGT</p>
        </li>
      </ul>
    </section>

    <section class="location">
      <h1 class="location__title">Plats</h1>
      <p class="location__adress">Biogatan 66, 544 30 Hjo.</p>
    </section>

    <section class="contact">
      <h1 class="contact__phone">Telefon</h1>
      <p class="contact__number">0503-98764</p>
    </section>

  </main>